In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression

In [3]:
data=pd.read_csv("1.01.+Simple+linear+regression.csv")

In [4]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [28]:
x=data['SAT']
y=data['GPA']

In [29]:
x.shape

(84,)

In [9]:
y.shape

(84,)

In [27]:
x_matrix=x.values.reshape(84,1)
x_matrix.shape
y_matrix=y.values.reshape(,1)
y_matrix.shape

(84, 1)

In [15]:
reg = LinearRegression()

In [32]:
reg.fit(x_matrix,y)

LinearRegression()

In [33]:
reg.score(x_matrix,y)

0.40600391479679765

In [20]:
#coeff
reg.coef_

array([0.00165569])

In [21]:
#intercept
reg.intercept_

0.2750402996602803

In [42]:
#makingpredictions
reg.predict([[1714]])

array([3.11288962])

In [63]:
new_data=pd.DataFrame(data=[1760,1780],columns=['SAT'])
new_data

    SAT
0  1760
1  1780

In [64]:
new_data['Predicted_GPA']=reg.predict(new_data)
new_data

    SAT  Predicted_GPA
0  1760       3.189051
1  1780       3.222165